.card-header{
    background-color: #fff !important;
}
.nav-bar{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1183fb;
}
.nav-bar h4{
    color: #fff;
}
.addbutton{
    background-color: #fff !important;
    color: #1183fb;
    margin-left: 55px;
}
.card{
    margin: 10px;
}
.address{
    max-width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
